@page
@model MyApp.Namespace.ListedReservationsModel
@{
}

<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script src="js/validateEmail.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

</head>

<h4 class="predstojece-rez">Todays reservations</h4>
<div class="div-tabela">
<table class="res-table">
    <thead>
        
        @foreach (var vreme in Model.ListaVremena)
        {
            <th colspan="4">@vreme</th>
        }
    </thead>
    <tbody>
        @foreach (var lista in Model.matOznaka)
        {
            <tr>
                @for(int i=0; i<lista.Count(); i++)
                {
                    @if(i==0)
                    {
                        <td colspan="4">@lista[i]</td>
                    }
                    else if(lista[i]=="-")
                    {
                        <td>@lista[i]</td>
                    }
                    else
                    {
                        <td colspan="8" style="background-color: #f2f2f2;">@lista[i]</td>
                    }
                    
                }
            </tr>
        }
    </tbody>
</table>
</div>

<h4 class="predstojece-rez">Upcoming reservations</h4>

<table id="example" class="display" width="100%">
    <thead>
        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Date/time</td>
            <td>People</td>
            <td>Table</td>
        </tr>
    </thead>
</table>

<!--<h4 class="predstojece-rez">Report users</h4>
<form id="signupForm">
    <div class="bi-name-type h-container">
        <span  class="bi-name v-container wow fadeInLeft">
            <input id="email" oninput="emailError()"> 
            <label class="error error-hidden" style="visibility: hidden;">Please enter a valid email address</label>
            <label>@Model.ErrorMessage</label>
            <label id="adressTaken"></label>
    </div>
    <div class="bi-buttons wow fadeInLeft">
        <button type="submit" class="finish-but" id="bi-finish">Report</button>
    </div>
</form>-->

<h4 class="predstojece-rez">Report users</h4>
<form id="signupForm" method="post">
    <div class="bi-name-type h-container">
        <span  class="bi-name v-container wow fadeInLeft">
            <input id="email" oninput="emailError()" asp-for="eMailAddress"> 
            <label class="error error-hidden" style="visibility: hidden;">Please enter a valid email address</label>
            <label>@Model.ErrorMessage</label>
            <label id="adressTaken"></label>
    </div>
    <div class="bi-buttons wow fadeInLeft">
        <button type="submit" class="finish-but" id="bi-finish" asp-page-handler="Prijavi" style="margin-bottom: 30px">Report</button>
    </div>
</form>

<script>
    function emailError()
	{
		let email=document.querySelector("#email");
		if(validateEmail(email.value))
		{
			email.parentElement.querySelector(".error").style.visibility="hidden";
			return false;
		}
		else
		{
							
			email.parentElement.querySelector(".error").style.visibility="visible";
			return true;
		}
	}

    document.querySelector("#signupForm").onsubmit=function submitFormAction(e)
	{	
		if(emailError())
		    return false;
        /*else
        {
            let email=document.querySelector("#email").value; 
            let str=`https://localhost:5001/ListedReservations?handler=Prijavi&email=${email}`
            window.location.href=str;   
        }*/
    }
</script>



<script>
function Rezervacija (ime, adresa, datum, brojMesta, sto) {
    this.ime=ime;
    this.adresa=adresa;
    this.datum=datum;
    this.brojMesta=brojMesta;
    this.sto = sto;
};

var dataSet = new Array();
var n = @Model.ListaRez.Count();
var listaImena = @Html.Raw(Json.Serialize(Model.ListaImena));
var listaAdresa = @Html.Raw(Json.Serialize(Model.ListaAdresa));
var listaDatuma = @Html.Raw(Json.Serialize(Model.ListaDatuma));
var listaBrojMesta = @Html.Raw(Json.Serialize(Model.ListaBrojMesta));
var listaStolova = @Html.Raw(Json.Serialize(Model.ListaStolova));

for(let i=0; i<n; i++){
    dataSet.push(new Rezervacija(listaImena[i],listaAdresa[i],listaDatuma[i],listaBrojMesta[i],listaStolova[i]));
}
//dataSet = JSON.stringify(dataSet);
//conslole.log(dataSet);
 
$(document).ready(function() {
    $('#example').DataTable( {
        data: dataSet,
        columns: [
            { data: 'ime' },
            { data: 'adresa' },
            { data: 'datum' },
            { data: 'brojMesta' },
            { data: 'sto' }
        ],
        searching: false
    } );
} );
</script>