@page
@model MyApp.Namespace.ObjectModel
@{
}
<head>
    <title>Table4U | @Model.lokal.Naziv</title>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<div class="container1">
    <form class="prvi" method="post">
        <div class="naziv-objekta">@Model.lokal.Naziv</div>
        @if(Model.TKorisnik!=null && Model.TKorisnik.tipKorisnika.Equals("Admin"))
        {
            <button class="obrisi" type="submit" asp-route-id="@Model.lokal.Id" asp-page-handler="ObrisiLokal" onclick="return showLoader();">Delete</button>
            	<div class="loader-wrapper" style="display: none;">
   				 <center><div class="loader">
						
				</div></center>
					<center>Canceling reservations...</center>
				</div>
        }
    </form>
    <script>
        function showLoader()
        {
        if(confirm('Are you sure you want to delete this object?'))
        {document.querySelector(".loader-wrapper").style.display="block";
						
    				    $(".loader-wrapper").fadeIn("slow");
                        return true;
        } return false;
        }
    </script>
    <div class="gornji-deo">
        <div class="slika-opis">
            <div>
                <img class="slika" src="@Model.lokal.nazivSlike">
            </div>
            <div class="info">
                <div class="informacije">Info</div>
                <div class="infos">
                    <div class="imenaInfo">
                        <div class="info1">Type:</div>
                        <div class="info2">Rating:</div>
                        <div class="info3">Open Time:</div>
                        <div class="info4">Close Time:</div>
                        <div class="info5">Contact:</div>
                        <div class="info6">Description:</div>
                    </div>
                    <div class="vrInfo">
                        <div class="iinfo1">@Model.lokal.Tip</div>
                        <div class="iinfo2">@Model.lokal.Ocena (@Model.lokal.brOcena)</div>
                        <div class="iinfo3">@Model.lokal.openTime.ToString("hh:mm tt")</div>
                        <div class="iinfo4">@Model.lokal.closeTime.ToString("hh:mm tt")</div>
                        <a href="mailto:@Model.lokal.email" class="iinfo5">@Model.lokal.email</a>
                        <div class="iinfo6">@Model.lokal.opis</div>
                    </div>
                </div>
                <div id="Prikazi1">
                    <button id="Prikazi" onclick="showCal()">Show calendar</button>
                    @if(Model.TKorisnik!=null && Model.TKorisnik.tipKorisnika=="Gost")
                    {
                        <label class="labelPomoc">Click here if You wanna grab a Table4U</label>
                    }
                </div>
                <button id="Sakrij" style="display:none;" onclick="hideCal()">Hide calendar</button>
            </div>
        </div>
        <div id="Glavni" style="display:none;">
            <div class="instrukcije">
                <div class="instrTekst">Instructions for reserving:</div>
                <div class="instr1">Step1: Choose Your date by clicking on a date in calendar(or manually, select the checkbox).</div>
                <div class="instr2">Step2: Choose number of seats You need.</div>
                <div class="instr3">Step3: Choose Your time.</div>
                <div class="instr4">Step4: Click on Reserve.</div>
            </div>
            <div class="kalendar">
                <div class="container2 col-sm-4 col-md-7 col-lg-4 mt-5">
                    <div class="card">
                        <h3 class="card-header" id="monthAndYear"></h3>
                        <table class="table table-bordered table-responsive-sm" id="calendar">
                            <thead>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th> 
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody id="calendar-body"></tbody>
                        </table>
                        <div class="form-inline">
                            <button class="dugme_u_tabeli col-sm-6" id="next" onclick="next()">Next</button>
                            <button class="dugme_u_tabeli col-sm-6" id="previous" onclick="previous()">Previous</button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="FormaDogadjaj" style="display:none">
            <div class="podaciDog">
                <div class="tipDog">Type: </div>
                <div class="opisDog">Description: </div>
                <div class="startDog">Start: </div>
            </div>
        </div>
        <form method="post" class="rezervacija-forma" id="Forma" style="display:none;" asp-page-handler="Rez" onsubmit="return ValidacijaRez()">
            <div class="prvi-red-rez">
                <div class="datumTekst">Date: </div>
                <input type="checkbox" id="checkForma" name="checkForma">
                <label for="checkForma" class="rucno">Select manually</label>
                <div id="datum">
                    <div id="valid">
                    <select id="godina" disabled="true" asp-for="@Model.year"></select>
                    <label class="error2" style="visibility:hidden;">Wrong year!</label>
                    </div>
                    <div id="valid">
                    <select id="mesec" disabled="true" asp-for="@Model.month"></select>
                    <label class="error2" style="visibility:hidden;">Wrong month!</label>
                    </div>
                    <div id="valid">
                    <select id="dan" disabled="true" asp-for="@Model.day"></select>
                    <label class="error2" style="visibility:hidden;">Wrong day!</label>
                    </div>
                </div>
                <input type="hidden" id="godIn" asp-for="@Model.year">
                <input type="hidden" id="mesIn" asp-for="@Model.month">
                <input type="hidden" id="danIn" asp-for="@Model.day">
                <input type="hidden" id="idIn" value="@Model.lokal.Id" asp-for="@Model.idObj">
            </div>
            <div class="rez-podaci">
                <div class="specTekst">Specifications: </div>
                <div id="valid">
                <select id="brMesta" asp-for="@Model.brMesta" onchange="getTime(this.value)">
                    <option value="0">Num. of seats</option>
                    @for (int i = 0; i < Model.listabrMesta.Count; i++)
                    {
                        <option value="@Model.listabrMesta[i]" id="@i">@Model.listabrMesta[i]</option>
                    }
                </select>
                <label class="error2" style="visibility:hidden;">Wrong number of seats!</label>
                </div>
                <div id="valid">
                <select id="slobodniTermini" asp-for="@Model.vreme"> 
                    <option value="0">Time</option>
                </select>
                <label class="error2" style="visibility:hidden;">Wrong time!</label>
                </div>
            </div>
            <div class="dugme-rez">
                @if(Model.TKorisnik!=null)
                {
                    @if(Model.TKorisnik.tipKorisnika.Equals("Menadzer"))
                    {
                        <button type="submit" class="btnRez" disabled="true">Reserve</button>
                        <label class="error2">Business accounts do not have permissions for this action!</label>
                    }
                    else if(Model.TKorisnik.tipKorisnika.Equals("Admin"))
                    {
                        <button type="submit" class="btnRez" disabled="true">Reserve</button>
                        <label class="error2">Admin does not have permissions for this action!</label>
                    }
                    else
                    {
                        <button type="submit" class="btnRez">Reserve</button>
                    }
                }
                else
                {
                    <button type="submit" disabled="true" class="btnRez">Reserve</button>
                    <label class="error2">You do not have permissions for this action!</label>
                }
            </div>
        </form>
        <input id = "lat" type="hidden" value="@Model.lokal.latitude">
        <input id = "lng" type="hidden" value="@Model.lokal.longitude">
    </div>
    <div class="srednji-deo">
        <div class="galerija">Gallery</div>
            @if(@Model.listaSlika.Count==0){
                <div>There are no images in this Gallery.</div>
            }
            else{
                <div class="kontejner1">
                @foreach (var slika in @Model.listaSlika)
                {
                    <div class="boks">
                        <img src="@slika">
                    </div>
                }
                </div>
            }
    </div>
    <div class="donji-deo">
        <div class="recenzije-lokacija">
            <div class="recenzije1">
                <div class="recenzije">Comments and ratings</div>
                <form class="komentari" method="post">
                    <input type="hidden" value="@Model.lokal.Id" asp-for="@Model.idObj">
                    <table class="table">
                        <thead>
                            <th>Rating</th>
                            <th>Date</th>
                            @if(Model.TKorisnik!=null&&Model.TKorisnik.tipKorisnika=="Admin")
                            {
                            <th>User</th>
                            }
                            <th>Comment</th>
                        </thead>
                        <tbody>
                            @foreach (var r in @Model.recenzije)
                            {
                                <tr>
                                    <td>@r.Ocena</td>
                                    <td>@r.Datum.ToString("d/M/yyyy")</td>
                                      @if(Model.TKorisnik!=null&&Model.TKorisnik.tipKorisnika=="Admin")
                                        {
                                        <td>@r.Korisnik.eMail</td>
                                        }
                                    
                                    @if(Model.TKorisnik!=null && Model.TKorisnik.tipKorisnika.Equals("Admin"))
                                    {
                                        <td>@r.Komentar</td>
                                        <td><button type="submit" asp-route-Id="@r.Id" asp-page-handler="Obrisi" onclick="return confirm('Are you sure you want to delete this review?');">Delete</button></td>
                                    }
                                    else
                                    {
                                        <td>@r.Komentar</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
                @if(Model.TKorisnik!=null)
                {
                    @if(Model.TKorisnik.tipKorisnika.Equals("Menadzer"))
                    {
                        <button id="dodajRec" disabled="true">Add comment</button>
                        <label class="error2">Business acounts do not have permissions for this action!</label>
                    }
                    else if(Model.TKorisnik.tipKorisnika.Equals("Admin"))
                    {
                        <button id="dodajRec" disabled="true">Add comment</button>
                        <label class="error2">Admin does not have permissions for this action!</label>
                    }
                    else
                    {
                        <button id="dodajRec">Add comment</button>
                    }
                }
                else
                {
                    <button id="dodajRec" disabled="true">Add comment</button>
                    <label class="error2">You do not have permissions for this action!</label>
                }
                <label id="dodajRecInfo" style="display:none;">The form for adding a review is under Location.</label>
            </div>
            <div class="location1">
                <div class="lokacija">Location</div>
                <div id = "mapa"></div>
            </div>
        </div>
        <form id="FormaRec" style="display:none;" method="post" asp-page-handler="Rec" onsubmit="return ValidacijaRec()" >
            <div class="kontejner">
                <div class="recTekst">
                    <input type="hidden" id="idIn1" value="@Model.lokal.Id" asp-for="@Model.idObj">
                    <textarea id="tekstKom" placeholder="Enter comment.." maxlength="100" asp-for="@Model.komentar"></textarea>
                    <label class="error3" style="visibility:hidden;">Wrong input!</label>
                </div>
                <div class="ratingDugme">
                    <select class="selRating" id="selRating" asp-for="@Model.rejting">
                        <option value="0">Rating</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <label class="error1" style="visibility:hidden;">Wrong choice!</label>
                    <div class="dugmiciRez">
                        <button id="otkaziRec" type="button" >Discard</button>
                        <button id="potvrdiRec" type="submit" >Submit</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="zadnji-deo">
            <div class="slicniLok">Similar places</div>
            @if(@Model.slicniLokali.Count==0)
            {
                <div class="nemaSlicnih">There are no similar places.</div>
            }
            else if(@Model.slicniLokali.Count==1)
            {
                <div id="slideshow3">
                    <div>
                        <a asp-route-Id="@Model.slicniLokali[0].Id" asp-page="/Object"><img class="slikaSlajdObj" src="@Model.slicniLokali[0].nazivSlike"></a>
                        <div class="adresaObj">Address: @Model.slicniLokali[0].Adresa,@Model.slicniLokali[0].Grad</div>
                    </div>
                </div>
            }
            else{
                <div id="slideshow1">
                    @foreach(var i in @Model.slicniLokali){
                        <div>
                            <a asp-route-Id="@i.Id" asp-page="/Object"><img class="slikaSlajdObj" src="@i.nazivSlike"></a>
                            <div class="adresaObj">Address: @i.Adresa,@i.Grad</div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="contact-section" id="contact">
		<div class="container">
			<div class="contact-section-grids">
				<div style="width:46%;" class="col-md-3 contact-section-grid wow fadeInLeft" data-wow-delay="0.4s">
					<h4>Site Links</h4>
					<ul>
						<li><i class="point"></i></li>
						<li class="data"><a asp-page="./Contact">About Us</a></li>
					</ul>
					<ul>
						<li><i class="point"></i></li>
						<li class="data"><a asp-page="./Contact">Contact Us</a></li>
					</ul>
					<ul>
					    <li><i class="point"></i></li>
						<li class="data"><a asp-page="./Help">Privacy Policy</a></li>
					</ul>
					<ul>
						<li><i class="point"></i></li>
						<li class="data"><a asp-page="./Help">Help</a></li>
					</ul>
				</div>
				<div style="width:46%;" class="col-md-3 contact-section-grid wow fadeInRight" data-wow-delay="0.4s">
					<h4>Follow Us On...</h4>
					<ul>
						<li><i class="fb"></i></li>
						<li class="data"> <a href="#">  Facebook</a></li>
					</ul>
					<ul>
						<li><i class="tw"></i></li>
						<li class="data"> <a href="#">Twitter</a></li>
					</ul>
					<ul>
						<li><i class="in"></i></li>
						<li class="data"><a href="#"> Linkedin</a></li>
					</ul>
					<ul>
						<li><i class="gp"></i></li>
						<li class="data"><a href="#">Google Plus</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="proba">

<script src="js/script.js"></script>
<script src="js/map.js"></script>
<script src="js/rezervacija.js"></script>
<script src="js/objectForms.js"></script>
<script src="js/kalendar.js"></script> 
<script src="js/validacijaRec.js"></script>
<script src="js/validacijaRez.js"></script>

<script>
    $("#slideshow1 > div:gt(0)").hide();

    setInterval(function() {
        $('#slideshow1 > div:first')
        .fadeOut(1000)
        .next()
        .fadeIn(1000)
        .end()
        .appendTo('#slideshow1');
    }, 6000);
</script>



